user: '<changeme>'
pass: '<changeme>'
fullname: '<changeme>'
email: '<changeme>'
ssh_keygen_pass: '<changeme>'
jenkins_job_credentials:
  - { ssh_username: '<changeme>', description: '<changeme>' }
  - { ssh_username: '<changeme>', description: '<changeme>' }
