{
  "vagrant_cloud_token": "VAGRANT CLOUD POST-PROCESSOR API TOKEN FOR ARTIFACT UPLOAD"
  "access_key_id": "AWS POST-PROCESSOR ACCESS KEY ID FOR AMI GENERATION",
  "secret_access_key": "AWS POST-PROCESSOR SECRET ACCESS KEY FOR AMI GENERATION"
}
