{
  "vagrant_cloud_token": "VAGRANT CLOUD POST-PROCESSOR API TOKEN FOR ARTIFACT UPLOAD",
  "vsphere_remote_host": "VSPHERE IP for OVA GENERATION TO SUPPORT AMI GENERATION",
  "vsphere_remote_username": "VSPHERE USERNAME for OVA GENERATION TO SUPPORT AMI GENERATION",
  "vsphere_remote_password": "VSPHERE PASSWORD for OVA GENERATION TO SUPPORT AMI GENERATION",
  "aws_access_key": "AWS POST-PROCESSOR ACCESS KEY ID FOR AMI GENERATION",
  "aws_secret_access_key": "AWS POST-PROCESSOR SECRET ACCESS KEY FOR AMI GENERATION",
  "aws_region": "AWS REGION",
  "aws_s3_bucket_name": "S3 BUCKET NAME",
}
