{
  "vagrant_cloud_token": "VAGRANT CLOUD API TOKEN FOR ARTIFACT UPLOAD",
  "aws_access_key": "AWS ACCESS KEY ID FOR AMI GENERATION",
  "aws_secret_access_key": "AWS SECRET ACCESS KEY FOR AMI GENERATION",
  "aws_region": "AWS REGION FOR AMI GENERATION",
}
